# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
lib/
lib64/

# PEP 582
__pypackages__/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Other directories
idea/*
.idea
.pytest_cache/

pytest_cache/
logs/*
# To don't ignore logs dir itself
!logs/.gitkeep